<html>
  <head>
    <title>Evernote Picture Gallery</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
  </head>
  <body>
  <div class="login-masthead">
     <div class='container'>
     	<h1>Evernote Picture Gallery</h1>
     </div>
  </div>
  <div class="login-box">
  <div class='container'>
     	<div class='row'>
     		<div class="span4 offset4"><a href="/login/evernote/" class="btn btn-block"><h3> Login with Evernote</h3>
     		</a></div>
     	</div>
   </div>
   </div>
  </body>
</html>